<!-- Balance Summary -->
<mat-card>
  <mat-card-content>
    <mat-tab-group headerPosition="below" selectedIndex="{{userTab()}}">
      <mat-tab label="Year">
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <a routerLink="/addincome"><button mat-icon-button color="primary">
                  <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                </button></a>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h1 class="amount">${{getYearBal()}}<br><span style="font-size:50%">Balance</span></h1>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <a routerLink="/addexpense"><button mat-icon-button color="primary">
                  <mat-icon aria-label="Icon Button with a minus symbol">remove</mat-icon>
                </button></a>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Month">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addincome"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button></a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h1 class="amount">${{getMonthBal()}}<br><span style="font-size:50%">Balance</span></h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addexpense"><button mat-icon-button color="primary">
                  <mat-icon aria-label="Icon Button with a minus symbol">remove</mat-icon>
                </button></a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      <mat-tab label="Week">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addincome"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button></a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h1 class="amount">${{getWeekBal()}}<br><span style="font-size:50%">Balance</span></h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addexpense"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a minus symbol">remove</mat-icon>
                  </button></a>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-tab>
      <mat-tab label="Bi-Week">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addincome"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button></a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h1 class="amount">${{getBiWeekBal()}}<br><span style="font-size:50%">Balance</span></h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addexpense"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a minus symbol">remove</mat-icon>
                  </button></a>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-tab>
      <mat-tab label="Day">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addincome"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button></a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h1 class="amount">${{getDayBal()}}<br><span style="font-size:50%">Balance</span></h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <a routerLink="/addexpense"><button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a minus symbol">remove</mat-icon>
                  </button></a>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>