.mainCard {
    max-width: 100%;
}
.firstTile {
    background-color:rgb(20, 149, 255);
}
.loginHeader {
    text-align: center;
    color: snow;
    font-size: 100%;
}
.loginButton {
    background-color:rgb(20, 149, 255);
    color: snow;
}
.mainForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.formFullWidth {
    width: 100%;
}