<mat-card class="mainCard">
    <mat-grid-list cols="5" rowHeight="100px" class="primary">
        <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card-header class="loginHeader">{{ title }}</mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <div class="loginGrid">
            <button mat-raised-button color="warn" (click)="googleLogin();">Login with Google</button>
            <button mat-raised-button style="background-color:#3b5998; color:snow" (click)="fbLogin();">Login with Facebook</button>
            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="emailLogin();">Login</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="separator-line"></div><div class="separator-text">New to this?</div><div class="separator-line"></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="accent" (click)="showSignup();">Sign Up</button>
    </mat-grid-tile>
</mat-grid-list>
<div id="signup_hidden"><app-signup></app-signup></div>