<router-outlet></router-outlet>
<mat-card class="mainCard">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="3" [rowspan]="1" class="firstTile">
            <mat-card-header class="loginHeader">{{ title }}</mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
        <mat-grid-tile>
            
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
            <a routerLink="dashboard"><button mat-raised-button class="loginButton">Login</button></a>
    </mat-grid-tile>
</mat-grid-list>