<mat-grid-list cols="1" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="6">
        <div class="loginGrid">
            <mat-form-field>
                <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
                <button mat-raised-button color="primary" (click)="emailLogin();" class="emailButton">Register</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>