<ng-container *ngIf="auth.user | async as user">
  <mat-card class="summary-cards">
    <mat-card-content>
      <mat-tab-group selectedIndex="{{user.defTab}}">
        <mat-tab label="Year">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getYearInc()}}</span>
                <br>
                <span style="font-size: 50%">Total</span>
              </h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:1.5vmax">Income Summary</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getYearCol()}}</span>
                <br>
                <span style="font-size: 50%">Collectables</span>
              </h2>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Month">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getMonthInc()}}</span>
                <br>
                <span style="font-size: 50%">Total</span>
              </h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:1.5vmax">Income Summary</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getMonthCol()}}</span>
                <br>
                <span style="font-size: 50%">Collectables</span>
              </h2>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Week">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getWeekInc()}}</span>
                <br>
                <span style="font-size: 50%">Total</span>
              </h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:1.5vmax">Income Summary</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getWeekCol()}}</span>
                <br>
                <span style="font-size: 50%">Collectables</span>
              </h2>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Bi-Week">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getBiWeekInc()}}</span>
                <br>
                <span style="font-size: 50%">Total</span>
              </h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:1.5vmax">Income Summary</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getBiWeekCol()}}</span>
                <br>
                <span style="font-size: 50%">Collectables</span>
              </h2>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Day">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getDayInc()}}</span>
                <br>
                <span style="font-size: 50%">Total</span>
              </h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:1.5vmax">Income Summary</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <h2 style="text-align:center">
                <span style="font-size: 2vmax">{{user.currency}} {{getDayCol()}}</span>
                <br>
                <span style="font-size: 50%">Collectables</span>
              </h2>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>