<!-- Balance Summary -->
<mat-card>
  <mat-card-content>
    <mat-tab-group class="tab-group-header" headerPosition="below" selectedIndex="{{selectDefault}}">
      <mat-tab label="Year">
          <h1 class="amount">${{getYearBal()}}<br><span style="font-size:50%">Balance</span></h1>
      </mat-tab>
      <mat-tab label="Month">
          <h1 class="amount">${{getMonthBal()}}<br><span style="font-size:50%">Balance</span></h1>
        </mat-tab>
      <mat-tab label="Week">
          <h1 class="amount">${{getWeekBal()}}<br><span style="font-size:50%">Balance</span></h1>
      </mat-tab>
      <mat-tab label="Bi-Week">
          <h1 class="amount">${{getBiWeekBal()}}<br><span style="font-size:50%">Balance</span></h1>
      </mat-tab>
      <mat-tab label="Day">
          <h1 class="amount">${{getDayBal()}}<br><span style="font-size:50%">Balance</span></h1>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!-- Expense Summary -->
<mat-card>
  <mat-card-content>
    <mat-tab-group class="tab-group" headerPosition="below" selectedIndex="{{selectDefault}}">
      <mat-tab label="Year">
          <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <h2 class="amount" >${{getYearExp()}}</h2>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Expense Summary</strong></mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-icon-button color="primary">
                      <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                    </button>
                </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Month">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getMonthExp()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Expense Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-tab>
      <mat-tab label="Week">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">  
                <h2 class="amount">${{getWeekExp()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Expense Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Bi-Week">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getBiWeekExp()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Expense Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Day">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getDayExp()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Expense Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!-- Income Summary -->
<mat-card>
  <mat-card-content>
    <mat-tab-group class="tab-group" selectedIndex="{{selectDefault}}">
      <mat-tab label="Year">
          <mat-grid-list cols="4" rowHeight="50px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <h2 class="amount" >${{getYearInc()}}</h2>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Income Summary</strong></mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-icon-button color="primary">
                      <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                    </button>
                </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Month">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getMonthInc()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Income Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-tab>
      <mat-tab label="Week">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">  
                <h2 class="amount">${{getWeekInc()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Income Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Bi-Week">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getBiWeekInc()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Income Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
      <mat-tab label="Day">
          <mat-grid-list cols="4" rowHeight="50px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h2 class="amount">${{getDayInc()}}</h2>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size:120%"><strong>Income Summary</strong></mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <button mat-icon-button color="primary">
                    <mat-icon aria-label="Icon Button with a plus symbol">add</mat-icon>
                  </button>
              </mat-grid-tile>
          </mat-grid-list>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>