.amount {
text-align: right;
}

input.amount::-webkit-outer-spin-button,
input.amount::-webkit-inner-spin-button {
display: none;
}

input.amount {
-moz-appearance: textfield;
}

.radio-group {
display: inline-flex;
flex-direction: column;
margin-bottom: 12px
}

.radio-button {
margin: 5px;
}

.formFields {
    margin-bottom: 15px;
}